.testTest {
  position: absolute;
  left: -100000px;
  top: 0;
}

.krsText {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #e96e00;
  padding-left: 12px;
}

.pdfFooter {
  background-color: #11c0f2;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px;
}
