.booking-link {
  color: var(--pink-btn-color);
  text-decoration: underline;
}

.details-divider {
  border-right: 1px solid black;
  height: 100%;
}

.accordion-details-bg button {
  background-color: #ebebeb !important;
  color: var(--main-text-color) !important;
  padding: 12px !important;

  &::after {
    margin-left: 10px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    filter: brightness(0);
  }

  p {
    margin-left: auto !important;
  }
}

.results-rwd-border {
  @media (min-width: 768px) {
    border-right: 1px solid #dee2e6;
  }

  @media (max-width: 768px) {
    border-bottom: 1px solid #dee2e6;
  }
}

// d-flex justify-content-between align-items-center border-end pt-3 px-4

.details-rwd-queue {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: start;

  @media (max-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cito-text {
  color: var(--pink-btn-color);
}
