thead {
  border: transparent !important;
  font-size: 14px;
  font-weight: 500;
}

th {
  border: none;
}

.stats__sortButton {
  border: 0;
  background-color: transparent;
  padding: 0;
  height: 70px;

  &[data-desc="true"] {
    .sortArrow {
      transform: rotate(180deg);
    }
  }

  :nth-child(2) {
    transition: 0.3s all ease-in-out;
  }
}

.sortArrow {
  width: 16px;
  height: 100%;
  &[data-active="true"] {
    > path {
      fill: #ed2369;
    }
  }
}

td a {
  color: var(--main-text-color);
}

.inner {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 8px;
    background-color: #ed2369;
  }
  background-color: #ffffff;
}

.odd {
  background-color: #ebebeb;
}

.even {
  background-color: #ffffff;
}

.angleArrow {
  &[data-isopen="true"] {
    transform: rotate(180deg);
  }
}
