table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}
table td {
  padding: 5px;
}

table tbody tr:first-child td {
  border-top: none;
  border-right: none;
}

table tbody tr:last-child td {
  border-bottom: none;
  border-right: none;
}
table tbody tr td:first-child {
  border-left: none;
}
table tbody {
  outline: 2px solid #ebebeb;
}
thead {
  border: transparent !important;
  font-size: 14px;
  font-weight: 500;
}

th {
  border: none;
}

.stats__sortButton {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 0px;
  font-size: 14px;
  color: #8d8d8d;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 100%;

  &[data-asc="true"] {
    img {
      transform: rotate(180deg);
    }
  }
  :first-child {
    padding-right: 10px;
  }

  :nth-child(2) {
    transition: 0.3s all ease-in-out;
  }
}

td a {
  color: var(--main-text-color);
}

.inner {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: rgb(88, 88, 88);
  }
  background-color: #7c93b4;
}

.odd {
  background-color: #ebebeb;
}

.even {
  background-color: #ffffff;
}
