@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

:root {
  --main-text-color: #003b50;
  --pink-btn-color: #ed2369;
  --gray-disable: #bcbcbc;

  --breadcrumbs-font-size: 14px;
  --bs-info-rgb: 17, 192, 242 !important;
  --bs-danger-rgb: 237, 35, 105 !important;
  --bs-warning-rgb: 254, 111, 79 !important;
  --bs-success-rgb: 40, 223, 174 !important;
  --bs-dropdown-link-color: #003b50 !important;
  --bs-body-color: #003b50 !important;
}

$form-select-indicator: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjQwMTY3MSAwLjgyMTcyMkMwLjM1NjA3MSAwLjkwOTMyMiAwLjMzMzI3MSAxLjAwNDcyIDAuMzMzMjcxIDEuMTAwMTJDMC4zMzMyNzEgMS4yMjAxMiAwLjM2OTI3IDEuMzM4OTIgMC40NDAwNyAxLjQ0MTUyTDUuODQwMDcgOS4yNDE1MkM1Ljk1MjI3IDkuNDAzNTIgNi4xMzY0NyA5LjUwMDEyIDYuMzMzMjcgOS41MDAxMkM2LjUzMDA3IDkuNTAwMTIgNi43MTQyNyA5LjQwMzUyIDYuODI2NDcgOS4yNDE1MkwxMi4yMjY1IDEuNDQxNTJDMTIuMzUzMSAxLjI1ODUyIDEyLjM2ODEgMS4wMTkxMiAxMi4yNjQ5IDAuODIxNzIyQzEyLjE2MTEgMC42MjM3MjIgMTEuOTU2NSAwLjUwMDEyMiAxMS43MzMzIDAuNTAwMTIyTDAuOTMzMjcxIDAuNTAwMTIyQzAuNzEwMDcxIDAuNTAwMTIyIDAuNTA1NDcxIDAuNjIzNzIyIDAuNDAxNjcxIDAuODIxNzIyWiIgZmlsbD0iIzAwM0I1MCIvPgo8L3N2Zz4K");
$form-select-border-color: #003b50;
$form-select-disabled-border-color: #bcbcbc;

.fw-normal-500 {
  font-weight: 500;
}

.fw-bold-600 {
  font-weight: 600;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.width-auto {
  width: auto !important;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "../node_modules/bootstrap/scss/bootstrap";
