:root {
  --main-text-color: #003b50;
  --pink-btn-color: #ed2369;
  --gray-disable: #bcbcbc;

  --breadcrumbs-font-size: 14px;
  --bs-info-rgb: 17, 192, 242 !important;
  --bs-danger-rgb: 237, 35, 105 !important;
  --bs-warning-rgb: 254, 111, 79 !important;
  --bs-success-rgb: 40, 223, 174 !important;
  --bs-dropdown-link-color: #003b50 !important;
  --bs-body-color: #003b50 !important;
}

// $form-select-indicator-color: red;

// $form-select-indicator: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+PGxpbmVhckdyYWRpZW50IGlkPSdncmFkaWVudCc+PHN0b3Agb2Zmc2V0PScxMCUnIHN0b3AtY29sb3I9JyNGMDAnLz48c3RvcCBvZmZzZXQ9JzkwJScgc3RvcC1jb2xvcj0nI2ZjYycvPiA8L2xpbmVhckdyYWRpZW50PjxyZWN0IGZpbGw9J3VybCgjZ3JhZGllbnQpJyB4PScwJyB5PScwJyB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJy8+PC9zdmc+");

.fw-normal-500 {
  font-weight: 500;
}

.fw-bold-600 {
  font-weight: 600;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.width-auto {
  width: auto !important;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "../node_modules/bootstrap/scss/bootstrap";
